.formulario {
    color:map-get($estilos, colortexto);
    background-color: map-get($estilos, colorbg );
    
    label {
        font-family: 'Mochiy Pop One', sans-serif;
        color: rgb(80, 107, 131);

    }
}