@mixin texto ($letracolor, $bgcolor) {
    color: $letracolor;
    text-align: justify;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 15px;
    font-size: 20px;
    background-color: $bgcolor
}